# Data files
*.data
*.dat
data/

# CSV
*.csv

# Excel
*.xls
*.xlsx
*.xlsm
*.xlsb
*.xltx
*.xltm

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.ico
*.webp
*.tiff
*.tif
*.svg
*.heic

# Archives
*.zip
*.tar.gz
*.tar
*.gz

# Python bytecode (.cpython-*.pyc)
*cpython*

# Large Images
2_Landmark Classification and Tagging for Social Media/landmark_images/


# Checkpoints
2_Landmark Classification and Tagging for Social Media/checkpoints/

# Pytest
.pytest_cache/